.condition-one__img-left {
  float: left;
  margin-right: 30px;
}

.condition-one__img-right {
  float: right;
}

.condition-one__indent-left {
  margin-bottom: 30px;
  display: inline-block;
}

.condition-one__indent-right {
  display: inline-block;
}

.condition-text {
  max-width: 480px;
  margin-right: 40px;
  display: inline-block;
}

.condition-paragraph:last-child {
  margin-bottom: 0;
}

.condition__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.condition__image_padding {
  padding-top: 30px;
}

.condition__image_block {
  margin-bottom: 0;
}

.condition-two__figure {
  margin: 0 auto;
  border: solid #000000;
  border-width: 1px;
  margin-bottom: 30px;
}

.condition-two__figcaption {
  padding: 15px 30px 15px 30px;
  color: #5e5e5e;
}
