.condition__title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  margin: 0 0 30px 0;
}

.condition-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin: 0 0 30px 0;
}

.condition-paragraph:last-child {
  margin-bottom: 0;
}

.condition__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.condition__image:last-child {
  margin-bottom: 0;
}

.condition__figure {
  display: block;
  margin: 0 auto;
  border: solid #000000;
  border-width: 1px;
  margin-bottom: 30px;
}

.condition__figcaption {
  padding: 15px 30px 15px 30px;
  color: #5e5e5e;
}

.two-columns {
  display: flow-root;
  margin-bottom: 30px;
}

.two-columns:last-child {
  margin: 0;
}

.two-columns__img-left {
  float: left;
  margin-right: 30px;
}

.two-columns__img-right {
  float: right;
  margin-left: 40px;
}
