.header {
  padding-top: 60px;
}

.container-padding {
  width: 1080px;
}

.header__title {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
}

.header__paragraph:last-child {
  margin-bottom: 0;
}

.navigation {
  padding: 50px 0 0 0;
}

.container_block_border {
  border: solid #f1f1f1;
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 25px 45px 25px;
}

.navigation__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 20px;
}

.navigation__list {
  padding-left: 30px;
}

.navigation__item {
  color: #02535f;
}
