.results {
  max-width: 1140px;
  max-height: 385px;
  margin: 0 auto;
  border: solid #f1f1f1;
  border-radius: 10px;
  background-color: #f1f1f1;
  margin-bottom: 50px;
}

.results__title {
  font-weight: 700;
  font-size: 44px;
  padding-left: 45px;
  margin-bottom: 20px;
}

.results__list {
  list-style-type: none;
  padding-left: 45px;
}

.results__item:not(:nth-last-of-type(1)) {
  margin-bottom: 10px;
}

.results > p {
  padding: 30px 30px 25px 45px;
}
